@import "../../../Assets/theme/_var.scss";

.modal-backdrop.show {
  opacity: 0.8 !important;
  background-color: transparent;
  backdrop-filter: blur(0.2rem);
  background: rgba(0, 0, 0, 0.2);
  // backdrop-filter: blur(12.5px);
  // filter: brightness(50%);
}

.commonModal {
  backdrop-filter: blur(0.2rem);
  background: rgba(0, 0, 0, 0.2);

  .modal-dialog {
    max-width: 52rem;
    padding: 0 1.5rem;
  }

  .modal-content {
    // background-color: $baseColor;
    padding: 3rem 4rem;
    box-shadow: 0px 0px 77px rgba(124, 208, 222, 0.1);
    border-radius: 1rem;
    position: relative;
    color: #000;

    @media (max-width: 767px) {
      padding: 2rem 3rem;
    }

    @media (max-width: 575px) {
      padding: 2rem;
    }
  }

  .modal-header {
    border: 0;
    justify-content: center;
    margin-bottom: 1.5rem;

    @media (max-width: 767px) {
      margin-bottom: 1.5rem;
    }

    .modal_close_btn {
      position: absolute;
      right: 1rem;
      top: 1rem;
      // background: $orangeclr;
      border: 0;
      // width: 3.3rem;
      // height: 3.3rem;
      border-radius: 50%;

      @media (max-width: 767px) {
        width: 2.4rem;
        height: 2.4rem;

        img {
          // width: 0.7rem;
        }
      }
    }

    .modal-title {
      h4 {
        font-size: 500;
      }
    }
  }

  .modal-body {
    padding: 1rem 0;
  }
}